<div class="container-fluid p-0 h-100 w-100 m-0"style="display:flex;">
  <!--<app-navbar-recursive class="container-fluid" style="display: flex; height: 100%; width: 40vw; padding-left: 0; padding-right:0;"> </app-navbar-recursive> -->
  <app-navbar-recursive id="sidenav" class="container-fluid m-0" style="display: flex; height: 100%; width: 40vw; padding-left: 0; padding-right:0;"> </app-navbar-recursive>
  <div id="resizer" style="width: 5px; cursor: ew-resize; background-color: #aaa;"></div>
  <app-tab style="width: 60vw;"></app-tab>
  <!-- <app-tab style="width:100%"></app-tab> -->
  <!-- <app-navbar class="container-fluid" style="display: flex; height: 100%; width: 100%"></app-navbar> -->
</div>
