<div style="color:whitesmoke;" class="sidenav" *ngIf="isExpandedSide">
    <app-recursive-core></app-recursive-core>
  </div>
  <div class="example-sidenav-content" style="align-items: start;">
    <div style=>
    <button mat-button (click)="toggleSidenav()" id="toggle" *ngIf="isExpandedSide"><mat-icon mat-list-icon>navigate_before</mat-icon></button>
    <button mat-button (click)="toggleSidenav()" id="toggle" *ngIf="!isExpandedSide"><mat-icon mat-list-icon>navigate_next</mat-icon></button>
    <button mat-button id="toggle" (click)="addHijo()"><mat-icon mat-list-icon>add</mat-icon></button>
    </div>
    <app-tab style="width: 100%"></app-tab>
  </div>





