<ul  [id]="'myUL'"cdkDropList (cdkDropListDropped)="drop($event)">
    <li *ngFor="let data of menuData" [attr.id]="data.label" >
      <div class="caret" (click)="selected($event, data);toggle($event)" [cdkDragData]="data" cdkDrag>
        <span class="spin">{{ data.label }}</span>
        <mat-icon style="pointer-events:none;"mat-list-icon *ngIf="data.children&&data.children.length>0">keyboard_arrow_right</mat-icon>
      </div>
      <ul class="nested" *ngIf="data.children && data.children.length">
        <app-recursive-core [menuData]="data.children"></app-recursive-core>
      </ul>
    </li>
  </ul>


  